In [12]:
import sqlite3

Data = 'data/data.sqlite3'


def Delete_one_table(filename, name_table):
    conn = sqlite3.connect(filename)
    cursor = conn.cursor()
    cursor.execute("DROP TABLE " + name_table + ";")
    tables = cursor.fetchall()
    conn.close()
    return [table[0] for table in tables]

def list_tables(filename):
    conn = sqlite3.connect(filename)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    conn.close()
    return [table[0] for table in tables]

def Delete_all_tables(filename):
    conn = sqlite3.connect(filename)
    for i in list_tables(filename):
        cursor = conn.cursor()
        if i != 'sqlite_sequence':
            cursor.execute("DROP TABLE " + i + ";")
    conn.close()
    return 

Delete_all_tables(Data)

[]

In [13]:
import sqlite3

Data = 'data/data.sqlite3'

def list_tables(filename):
    conn = sqlite3.connect(filename)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    conn.close()
    return [table[0] for table in tables]

def Delete_all_tables(filename):
    conn = sqlite3.connect(filename)
    for i in list_tables(filename):
        cursor = conn.cursor()
        if i != "sqlite_sequence":
            cursor.execute("DROP TABLE " + i + ";")
        cursor.fetchall()
    conn.close()

Delete_all_tables(Data)

# clef primaire auto-incrementÃ© : AUTO_INCREMENT PRIMARY KEY
# clef primaire : PRIMARY KEY

# , FOREIGN KEY(...) REFERENCES 'table'(....)
# , FOREIGN KEY(ID_room) REFERENCES Student(ID_room)

def Create_tables(filename):
    conn = sqlite3.connect(filename)
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = ON;")
# create student table
    cursor.execute("CREATE TABLE IF NOT EXISTS Student (NAME VARCHAR(50),SURNAME VARCHAR(50),EMAIL VARCHAR(50) PRIMARY KEY,CLASS VARCHAR(5),LV1 VARCHAR(50),GRADE_LV1 INT,GROUP_LV1 INT,LV2 VARCHAR(50),GRADE_LV2 INT,GROUP_LV2 VARCHAR(50), EXTRA_TIME BOOLEAN, STATUS VARCHAR(50));")
    #cursor.execute("CREATE TABLE IF NOT EXISTS Student (NAME VARCHAR(50),SURNAME VARCHAR(50),EMAIL VARCHAR(50),CLASS VARCHAR(5),LV1 VARCHAR(50),GRADE_LV1 INT,GROUP_LV1 INT,LV2 VARCHAR(50),GRADE_LV2 INT,GROUP_LV2 VARCHAR(50), EXTRA_TIME BOOLEAN, STATUS VARCHAR(50));")
    #cursor.execute("CREATE TABLE IF NOT EXISTS Student (NAME VARCHAR(50),SURNAME VARCHAR(50),EMAIL VARCHAR(50) PRIMARY KEY,CLASS VARCHAR(5),LV1 VARCHAR(50),GRADE_LV1 INT,ID_room INT,LV2 VARCHAR(50),GRADE_LV2 INT,ID_room VARCHAR(50), EXTRA_TIME BOOLEAN, STATUS VARCHAR(50));")    
# create group table
    cursor.execute("CREATE TABLE IF NOT EXISTS Groups (ID_Group INTEGER PRIMARY KEY AUTOINCREMENT,CLASS VARCHAR(5),LV VARCHAR(50),GROUP_LV INT);")
# create teacher table    
    cursor.execute("CREATE TABLE IF NOT EXISTS Teachers (ID_teacher INT PRIMARY KEY, NAME VARCHAR(50),SURNAME VARCHAR(50),EMAIL VARCHAR(50), SUBJECT VARCHAR(20));")
# create availabilities table
    cursor.execute("CREATE TABLE IF NOT EXISTS Availabilities (ID_Availability INT PRIMARY KEY, Day VARCHAR(12),Hour VARCHAR(5));")
# create Rooms table
    cursor.execute("CREATE TABLE IF NOT EXISTS Rooms (ID_room INT PRIMARY KEY, NAME VARCHAR(50));")
# create Summary table
    #cursor.execute("CREATE TABLE IF NOT EXISTS Summary (ID_Group VARCHAR(10), ID_teacher INT, ID_Room INT, ID_Availability INT, FOREIGN KEY(ID_Availability) REFERENCES Availabilities(ID_Availability), FOREIGN KEY(ID_teacher) REFERENCES Teachers(ID_teacher), FOREIGN KEY(ID_room) REFERENCES Rooms(ID_room));")
    cursor.execute("CREATE TABLE IF NOT EXISTS Summary  (ID_Group VARCHAR(10), ID_teacher INT, ID_Room INT, ID_Availability INT, FOREIGN KEY(ID_Group) REFERENCES Groups(ID_Group), FOREIGN KEY(ID_Availability) REFERENCES Availabilities(ID_Availability), FOREIGN KEY(ID_Teacher) REFERENCES Teachers(ID_teacher), FOREIGN KEY(ID_room) REFERENCES Student(ID_room));")
# create Availability_Teachers table
    cursor.execute("CREATE TABLE IF NOT EXISTS Availability_Teachers (ID_Teacher INT, ID_Availability INT, FOREIGN KEY(ID_Teacher) REFERENCES Teachers(ID_teacher), FOREIGN KEY(ID_Availability) REFERENCES Availabilities(ID_Availability));")
# create Availability_Rooms table
    cursor.execute("CREATE TABLE IF NOT EXISTS Availability_Rooms (ID_Room INT, ID_Availability INT, FOREIGN KEY(ID_Room) REFERENCES Rooms(ID_room), FOREIGN KEY(ID_Availability) REFERENCES Availabilities(ID_Availability));")
# create Availability_Class table
    cursor.execute("CREATE TABLE IF NOT EXISTS Availability_Class (ID_Class VARCHAR(5), ID_Availability INT, FOREIGN KEY(ID_Class) REFERENCES Student(CLASSE), FOREIGN KEY(ID_Availability) REFERENCES Availabilities(ID_Availability));")
    cursor.fetchall()
    conn.commit()
    conn.close()

Create_tables(Data)

In [14]:
import sqlite3

Data = 'data/data.sqlite3'


conn = sqlite3.connect(Data)
cursor = conn.cursor()
cursor.execute("SELECT EMAIL, COUNT(*) AS count FROM Student GROUP BY EMAIL HAVING COUNT(*) > 1 ;")
tables = cursor.fetchall()
conn.close()
print(tables)

[]

In [2]:
import sqlite3

Data = 'data/test.sqlite3'

def Create_tables2(filename):
    conn = sqlite3.connect(filename)
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = ON;")
# create student table
    cursor.execute("CREATE TABLE IF NOT EXISTS Student(EMAIL        Varchar (50) NOT NULL ,NAME         Varchar (50) NOT NULL ,SURNAME      Varchar (50) NOT NULL ,SCHOOL_YEAR  Varchar (50) NOT NULL ,LV1          Varchar (50) NOT NULL ,GRADE_LV1    Float NOT NULL ,GROUP_LV1    Varchar (50) NOT NULL ,LV2          Varchar (50) NOT NULL ,GRADE_LV2    Float NOT NULL ,GROUP_LV2    Varchar (50) NOT NULL ,REDUCED_EXAM Bool NOT NULL ,STATUS       Varchar (50) NOT NULL,CONSTRAINT Student_PK PRIMARY KEY (EMAIL));")
# create group table
    cursor.execute("CREATE TABLE IF NOT EXISTS List_Groups_Students (ID_COURSE     Varchar (50) NOT NULL, ID_STUDENT Varchar(50) NOT NULL, FOREIGN KEY(ID_COURSE) REFERENCES Courses(ID_COURSE), FOREIGN KEY(ID_STUDENT) REFERENCES Student(EMAIL));")
# create teacher table    
    cursor.execute("CREATE TABLE IF NOT EXISTS Teachers(ID_TEACHER Varchar (50) NOT NULL ,NAME       Varchar (50) NOT NULL ,SURNAME    Varchar (50) NOT NULL ,MAIL       Varchar (50) NOT NULL ,SUBJECT    Varchar (50) NOT NULL,CONSTRAINT Teachers_PK PRIMARY KEY (ID_TEACHER));")
# create availabilities table
    cursor.execute("CREATE TABLE IF NOT EXISTS Availibilities(ID_AVAILIBILITY Varchar (50) NOT NULL ,DAY             Varchar (50) NOT NULL ,HOUR            Varchar (50) NOT NULL,CONSTRAINT Availibilities_PK PRIMARY KEY (ID_AVAILIBILITY));")
# create Rooms table
    cursor.execute("CREATE TABLE IF NOT EXISTS Rooms(ID_ROOM Varchar (50) NOT NULL ,NAME    Varchar (50) NOT NULL,CONSTRAINT Rooms_PK PRIMARY KEY (ID_ROOM));")
# create Summary table
    cursor.execute("CREATE TABLE IF NOT EXISTS Courses(ID_COURSE     Varchar (50) NOT NULL ,ID_GROUP      Varchar (50) NOT NULL ,ID_TEACHER    Varchar (50) NOT NULL ,ID_ROOM       Varchar (50) NOT NULL ,ID_AVAILIBITY Varchar (50) NOT NULL,CONSTRAINT Courses_PK PRIMARY KEY (ID_COURSE));")
# create Availability_Teachers table
    cursor.execute("CREATE TABLE IF NOT EXISTS Availability_Teachers (ID_Teacher INT, ID_Availability INT, FOREIGN KEY(ID_Teacher) REFERENCES Teachers(ID_teacher), FOREIGN KEY(ID_Availability) REFERENCES Availabilities(ID_Availability));")
# create Availability_Rooms table
    cursor.execute("CREATE TABLE IF NOT EXISTS Availability_Rooms (ID_Room INT, ID_Availability INT, FOREIGN KEY(ID_Room) REFERENCES Rooms(ID_room), FOREIGN KEY(ID_Availability) REFERENCES Availabilities(ID_Availability));")
# create Availability_Class table
    cursor.execute("CREATE TABLE IF NOT EXISTS Availability_Class (ID_Class VARCHAR(5), ID_Availability INT, FOREIGN KEY(ID_Class) REFERENCES Student(CLASSE), FOREIGN KEY(ID_Availability) REFERENCES Availabilities(ID_Availability));")
    cursor.fetchall()
    conn.commit()
    conn.close()

Create_tables2(Data)